#profileList
{
    width: 200px;
}

#newModuleNameField
{
    width: 200px;
}

#moduleTable thead td
{
    border-bottom: 1px solid Black;
}

#moduleTable td
{
    min-width: 100px;
}

.oddRow
{
    background-color: #9BB36C;
}

.centeredColumn
{
    text-align: center;
}