#moduleprofiles-list
{
    width: 200px;
}

#moduleprofiles-name
{
    width: 200px;
}

#moduleprofiles-table thead td
{
    border-bottom: 1px solid Black;
}

#moduleprofiles-table td
{
    min-width: 100px;
}

.moduleprofiles-odd-row
{
    background-color: #CCCCCC;
}

.moduleprofiles-selected-row
{
    background-color: #9BB36C;
}

.moduleprofiles-centered-column
{
    text-align: center;
}